## Dictionaries:
1. Before and until v3.7, dictionaries were unorderd.
2. After 3.7, the dictionaries were ordered,mutable.

In [2]:
student = {"name":"XZoya Rhey","major subject":"Ccomputer Science","age":25}
print(student)

{'name': 'XZoya Rhey', 'major subject': 'Ccomputer Science', 'age': 25}

### In Python, before v3.5, dictionaries do not accept "mutable"(int,float - changable) types as key. But after that, they are allowed.

In [3]:
student1 = {"name":"XZoya Rhey","major subject":"Ccomputer Science","age":25,1:78}
print(student1)

{'name': 'XZoya Rhey', 'major subject': 'Ccomputer Science', 'age': 25, 1: 78}

In [14]:
#The difference between the two is, the first one throws a key error, if the key is not present. the second one will 
#check if key is there, if not it will print the second parameter(default value)
#student["marks"]
student.get("marks",56)

56

In [24]:
#Two ways of adding new keys
student.update(graduationyear="2025")
student['college']='Panimalar'

In [23]:
student

{'name': 'XZoya Rhey',
 'major subject': 'Ccomputer Science',
 'age': 25,
 'graduationyear': '2025',
 'college': 'Panimalar'}

### Nested Dictionaries

In [28]:
students = {
    "student1":{'name': 'Swecha',
 'major subject': 'Mathematics',
 'age': 23,
 'graduationyear': '2025',
 'college': 'Panimalar'},
  "student2":{'name': 'Rizwa',
 'major subject': 'Commerce',
 'age': 24,
 'graduationyear': '2025',
 'college': 'Panimalar'}}

In [29]:
students

{'student1': {'name': 'Swecha',
  'major subject': 'Mathematics',
  'age': 23,
  'graduationyear': '2025',
  'college': 'Panimalar'},
 'student2': {'name': 'Rizwa',
  'major subject': 'Commerce',
  'age': 24,
  'graduationyear': '2025',
  'college': 'Panimalar'}}

In [34]:
print(students['student1']['age'])
print(students.get('student1').get('age'))

23
23

In [37]:
#Two ways of delete new keys
student.pop('college')
# this will delete the key and returns the value of that key. When you try to access the key, it will throw Key Error

KeyError: 'college'

In [39]:
#Two ways of delete new keys
student.popitem()
# this will delete the last key and returns the kay value pair. When you try to access the key, it will throw Key Error

('age', 25)

In [41]:
#Since i have executed the above command two times, the last two items are deleted.
student

{'name': 'XZoya Rhey', 'major subject': 'Ccomputer Science'}

In [44]:
#Poping the values in the nested disctionaries
#first access the inner element and then pop
students['student1'].pop('age')

23

students

## ASSIGNMENTS

Easy
1. Create a dictionary named fruit prices with 'apple': 1.2, 'banana': 0.5, and 'cherry': 2.5. Update the price of 'banana' to 0.6.
2. Check if the key 'orange' exists in fruit_prices.

In [52]:
fruit = {'apple':1.2,'banana':0.5,'cherry':2.5}
print(fruit)
fruit.update(banana=0.6)
print(fruit)
fruit.get('orange','orange key does not exist')
print("Is orange key present in fruit dictionary? ",'orange' in fruit)

{'apple': 1.2, 'banana': 0.5, 'cherry': 2.5}
{'apple': 1.2, 'banana': 0.6, 'cherry': 2.5}
Is orange key present in fruit dictionary?  False

Medium

3. Given two lists keys = ['a', 'b', 'c'] and values = [1, 2, 31, create a dictionary using a loop or comprehension.
4. Write a function that takes a dictionary and returns a new dictionary with keys and values swapped.

In [79]:
def swapDict(keylst,vallist):
    swappedDict = {v:k for k,v in zip(keylst,vallist)}
    

    print(swappedDict)
    return swappedDict
    
keys=['a','b','c']
values=[1,2,31]

dictionaryApproach1 = {}
dictionaryApproach2 = {}

#Approach - 1 --> Old way
for i in range(0, len(keys)):
    dictionaryApproach1[keys[i]]=values[i]

#Approach - 2
for key,value in zip(keys,values):
    dictionaryApproach2[key]=value

#Approach - 3 --> Dictionary comprehension
# Zip function basically creates multiple itatables form different entities.
# the no.of itratables created is equal to the no.of entities zipped.
# the entities inside the zip can be duplicated. eg:  zip(keys,keys)
# zip can be applied for different length entities, but the itratables stop at the shortest length.d 
dictionaryApproach3 = {k:v for k,v in zip(keys,values)}

print("dictionaryApproach1::",dictionaryApproach1)  
#the below printing approach used f strings.
print(f"dictionaryApproach2::{dictionaryApproach2}")  
print("dictionaryApproach3::",dictionaryApproach3)  

swappedDict = swapDict(keys,values)
print("swappedDict::",swappedDict)

dictionaryApproach1:: {'a': 1, 'b': 2, 'c': 31}
dictionaryApproach2::{'a': 1, 'b': 2, 'c': 31}
dictionaryApproach3:: {'a': 1, 'b': 2, 'c': 31}
{1: 'a', 2: 'b', 31: 'c'}
swappedDict:: {1: 'a', 2: 'b', 31: 'c'}

Hard

5. Given a string text = "apple banana apple cherry banana apple", create a dictionary that counts the frequency of each word.
6. Merge two dictionaries d1 = {'a': 10, 'b': 20 and d2 {'b': 30, 'c': 40} such that if a key exists in both, their values are added together.

In [78]:
def mergeDict(d1,d2):
    mergedDictn = d1.copy()
    print(mergedDictn) 

    for key,value in d2.items():
        mergedDictn[key] = mergedDictn.get(key,0)+value 

    print("mergedDictnmergedDictn:: ",mergedDictn) 
    return mergedDictn


text = "apple banana apple cherry banana apple"
print(text)
text.split()
fruits={}

for fruit in text.split():
    fruits[fruit] = fruits.get(fruit,0)+1

print(fruits)
d1 = {'a': 10, 'b': 20}
d2 = {'b': 30, 'c': 40}
print("Merged dict form mergeDict:: ",mergeDict(d1,d2))

apple banana apple cherry banana apple
{'apple': 3, 'banana': 2, 'cherry': 1}
{'a': 10, 'b': 20}
mergedDictnmergedDictn::  {'a': 10, 'b': 50, 'c': 40}
Merged dict form mergeDict::  {'a': 10, 'b': 50, 'c': 40}